.calendar-container {
  border: 1px solid grey;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  padding: 10px;
  text-transform: uppercase;
}

.view-container-border {
  background-color: white;
}

.mv-daynames-table {

}

.view-cap t1-embed {
  padding: 5px;
  background-color: white;
}
