@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import "src/App";

.find-us {
  border: 0 solid black;
  flex-direction: column;
  background-color: $primary;
}

.calendar {
  margin: 30px 400px 0 400px;
  padding: 50px;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: -30px 30px $secondary;
}
